*{
	
}

body{
	/* Setting default text color, background and a font stack */
	color:#eee;
	font-size:0.825em;
	background: #2f2e2f;
	font-family:Arial, Helvetica, sans-serif;
}

#world {

		padding: 1em;
		
}

#menu {

	width: 35%;
	float:left;
	clear:both;
	padding: 2em;
	
}



